*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
}

.container{
    width: 20rem;
    min-height: 10rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    & #qr-input{
        width: 80%;
        height: 25px;
        padding: 0 0 0 5px;
        outline: none;
    }

    & #qr-image{
        width: 40%;
        height: auto;
    }

    & .Generat-btn{
        padding: 6px 10px;
        border: none;
        background-color: rgb(43, 254, 254);
        border-radius: 5px;
        font-size: 18px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        font-weight: 500;
        cursor: pointer;
    }
}